{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock title %}
{% block static %}

<link rel="stylesheet" href="{% static 'stock/css/data.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock static %}
{% block content %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Inside view</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            <strong>Name</strong>
                                        </th>
                                        <th>
                                            <strong>Symbol</strong>
                                        </th>
                                        <th>
                                            <strong>Price</strong>
                                        </th>
                                        <th>
                                            <strong>Change</strong>
                                        </th>
                                        <th>
                                            <strong>Change %</strong>
                                        </th>
                                        <th>
                                            <strong>Volume</strong>
                                        </th>
                                        <th>
                                            <strong>Market Cap</strong>
                                        </th>
                                        <th>
                                            <strong>PE Ratio</strong>
                                        </th>
                                        <th>
                                            <strong>EPS</strong>
                                        </th>
                                        <th>
                                            <strong>52 Week High</strong>
                                        </th>
                                        <th>
                                            <strong>52 Week Low</strong>
                                        </th>
                                        <th>
                                            <strong>Change %</strong>
                                        </th>
                                        <th>
                                            <strong>Change</strong>
                                        </th>

                                        </thead>
                                        <tbody class="table-light">
                                            
                                                <tr>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                </tr>

                                                <tr>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                    <td>test data</td>
                                                </tr>
                                           
       
        </div>
    </section>


<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'stock/js/portfolio.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
{% endblock content %}