{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock title %}
{% block data_active %}active{% endblock %}

{% block static %}

<link rel="stylesheet" href="{% static 'stock/css/data.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock static %}
{% block content %}


    <section style="height:100vh">
        <div class="container" >
            <div class="uk-child-width-1-4@s uk-grid-match mb-3 mt-3" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-hover rounded uk-card-body uk-light p-1 {{ card_bg | random}}">
                        <div class="d-flex justify-content-between p-1">
                            <h3 class="uk-card-title">Tata motors</h3>
                            <h6 class="mt-1">NSE</h6>
                        </div>
                        <p>Market : 55555</p>
                        <p>Price : 652</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-primary uk-card-hover rounded uk-card-body uk-light p-1 {{ card_bg | random}}">
                        <div class="d-flex justify-content-between p-1">
                            <h3 class="uk-card-title">Tata motors</h3>
                            <h6 class="mt-1">NSE</h6>
                        </div>
                        <p>Market : 55555</p>
                        <p>Price : 652</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-hover rounded uk-card-body uk-light p-1">
                        <div class="d-flex justify-content-between p-1">
                            <h3 class="uk-card-title">Tata motors</h3>
                            <h6 class="mt-1">NSE</h6>
                        </div>
                        <p>Market : 55555</p>
                        <p>Price : 652</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-primary uk-card-hover rounded uk-card-body uk-light p-1">
                        <div class="d-flex justify-content-between p-1">
                            <h3 class="uk-card-title">Tata motors</h3>
                            <h6 class="mt-1">NSE</h6>
                        </div>
                        <p>Market : 55555</p>
                        <p>Price : 652</p>
                    </div>
                </div>  
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="card-title"><span  uk-icon="icon: table; ratio: 1"> </span> Inside view</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            <strong>Name</strong>
                                        </th>
                                        <th>
                                            <strong>Symbol</strong>
                                        </th>
                                        <th>
                                            <strong>Price</strong>
                                        </th>
                                        <th>
                                            <strong>Change</strong>
                                        </th>
                                        <th>
                                            <strong>Change %</strong>
                                        </th>
                                        <th>
                                            <strong>Volume</strong>
                                        </th>
                                        <th>
                                            <strong>Market Cap</strong>
                                        </th>
                                        <th>
                                            <strong>PE Ratio</strong>
                                        </th>
                                        <th>
                                            <strong>EPS</strong>
                                        </th>
                                        <th>
                                            <strong>52 Week High</strong>
                                        </th>
                                        <th>
                                            <strong>52 Week Low</strong>
                                        </th>
                                        <th>
                                            <strong>Change %</strong>
                                        </th>
                                        <th>
                                            <strong>Change</strong>
                                        </th>

                                    </thead>
                                    <tbody class="table-light">
                                        
                                        <tr>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                        </tr>

                                        <tr>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                            <td>test data</td>
                                        </tr>
                                    </tbody>
                                </table>
                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <b class="text-light" ><span  uk-icon="icon: link; ratio: 1"></span> Your downloded excel file</b>
                    {% for file in excel_files %}
                        <div class="uk-alert-success rounded shadow {{ random_color | random}}" uk-alert>
                            <div class="d-flex float-end justify-content-center">
                                <a href="{{ file.excel_upload }}" download ><span  uk-icon="icon: download; ratio: 1.5"></span></a>
                            </div>
                            <p class="text-dark"><span  uk-icon="icon: file-text; ratio: 1"> </span> {{ file.excel_upload | escape }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'stock/js/portfolio.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
{% endblock content %}