{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock title %}
{% block static %}
<link rel="stylesheet" href="{% static 'stock/css/index.css' %}">
<link rel="stylesheet" href="{% static 'stock/css/portfolio.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock static %}
{% block content %}
<!-- ========================== landing section =================================== -->
  <main class="container">
    <section class="center-update" style="height:95vh">
      <div class="main-section  row">
        <div class="col-7  news-section border">
            <div class="row w-100 m-0 overflow-hidden p-1 news-card mb-1" style="height:80px;">
              <div class="col-3 bg-light img-fluid d-flex w-auto h-100 items-stretch border" style="height:auto"><img src="{{headlines.urlToImage}}" alt="content picture "></div>
              <div class="col-8 text-dark " style="height:auto">{{headlines.content}}<span class="text"><a href="#">read more -></a></span></div>
            </div>
            <div class="row w-100 m-0 d-flex p-1 news-card2 mb-1" style="height:80px;">
              <div class="col-3 bg-light img-fluid d-flex w-auto h-100 items-stretch" style="height:auto"><img src="{{headlines2.urlToImage}}" alt="content picture "></div>
              <div class="col-8" style="height:auto">{{headlines2.content}}<span class="text"><a href="#">read more -></a></span></div>
            </div>
        </div>
        <div class="col-4  border favorite-section border">
            <div class="head d-flex justify-content-center">
                Favorite section
            </div>
            <div class="row border stock-card rounded-2 ">
                <div class="col-4 stock-logo">
                    LOGO
                </div>
                <div class="col-8">
                    ADANI POWER
                </div>
            </div>
        </div>
      </div>
    </section>
  </main>

  <!-- =================== stock search section ========================================== -->
  
  <main class="container">
    <section style="height:95vh;">
      <div class="search-section border d-flex justify-content-center align-self-center border pt-2 pb-2">
        <form action="">
          <input class=" search-input uk-form-width-medium roundedd-flex align-items-center" type="text" id="stock_value" placeholder="ex: tata motors">
          <a class="d-inline-block  flex-wrap submit-btn" id = "search_vlue" >Go</a>
        </form>
      </div>

      <div class="center">
        <div class="main-section row rounded p-2 shadow-lg bg-primary">
          <div id="uk-alert">
                      
          </div>
        </div>
      </div>
      
    </section>
  </main>
<script>
  
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

<script src="{% static 'stock/js/index.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'stock/js/portfolio.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
 
 <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
  {% endblock content %}