{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock title %}
{% block static %}<link rel="stylesheet" href="{% static 'stock/css/index.css' %}">{% endblock static %}
{% block content %}

  <main class="container">
    <section>
      <div class="main-section row">
        <div class="col-7  news-section border">
            <div class="row w-100 m-0 overflow-hidden p-1 news-card mb-1" style="height:80px;">
              <div class="col-3 bg-light img-fluid d-flex w-auto h-100 items-stretch border" style="height:auto"><img src="{{headlines.urlToImage}}" alt="content picture "></div>
              <div class="col-8" style="height:auto">{{headlines.content}}<span class="text"><a href="#">read more -></a></span></div>
            </div>
            <div class="row w-100 m-0 overflow-hidden p-1 news-card2 mb-1" style="height:80px;">
              <div class="col-3 bg-light img-fluid d-flex w-auto h-100 items-stretch" style="height:auto"><img src="{{headlines2.urlToImage}}" alt="content picture "></div>
              <div class="col-8" style="height:auto">{{headlines2.content}}<span class="text"><a href="#">read more -></a></span></div>
            </div>
        </div>
        <div class="col-4  border favorite-section border">
            <div class="head d-flex justify-content-center">
                Favorite section
            </div>
            <div class="row border stock-card rounded-2 ">
                <div class="col-4 stock-logo">
                    LOGO
                </div>
                <div class="col-8">
                    ADANI POWER
                </div>
            </div>
        </div>
      </div>
    </section>
  </main>
    <py-script>
    </py-script>

  <script src="{% static 'stock/js/index.js' %}"></script>
  <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->

  {% endblock content %}