.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top:-4rem;
}
.main-section{
    width:78vh;
    height:55vh;
}


.c-border-6{
  border-left: 0.5em solid #5b9cff;
  border-radius: 5px;
}

.c-border-5{
  border-left: 0.5em solid #d90000;
  border-radius: 5px;
}

.c-border-4{
  border-left: 0.5em solid #020438;
  border-radius: 5px;
}

.c-border-3{
  border-left: 0.5em solid #0029a6;
  border-radius: 5px;
}

.c-border-2{
  border-left: 0.5em solid #feb343;
  border-radius: 5px;
}

.c-border-1{
  border-left: 0.5em solid #00ffff;
  border-radius: 5px;
}

.c-border-7{

  border-left: 0.5em solid #73abff;
  border-radius: 5px;
}

.c-border-8{

  border-left: 0.5em solid #f85aca;
  border-radius: 5px;
}

.c-border-9{

  border-left: 0.5em solid #393e46;
  border-radius: 5px;
}

.c-border-10{

  border-left: 0.5em solid #00204a;
  border-radius: 5px;
}

.stock-f-card-1{
  background: rgb(2,0,36);
  background: linear-gradient(201deg, rgb(72, 69, 113) 0%, rgb(253, 231, 255) 51%, rgb(173, 229, 240) 100%);
}

.stock-f-card-2{
  background: rgb(34,193,195);
  background: linear-gradient(201deg, rgb(173, 245, 246) 12%, rgb(202, 170, 200) 55%, rgba(99, 255, 135, 0.582) 96%);
}

.stock-f-card-3{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(235, 212, 222) 0%, rgba(148,187,233,1) 100%);
}

.stock-f-card-4{
  background: rgb(0,2,56);
  background: linear-gradient(201deg, rgb(116, 118, 168) 0%, rgb(123, 185, 198) 51%, rgb(253, 255, 185) 100%);
}

.stock-f-card-5{
  background: rgb(0,0,0);
  background: linear-gradient(201deg, rgb(143, 143, 143) 0%, rgb(177, 242, 255) 51%, rgb(136, 237, 170) 100%);
}
