*{
    box-sizing:0;
  }

body{
  background-color: rgba(160, 149, 149, 0.468);
}
  
  nav{
    background-color:#3655b1;
    height:106px;
    width:auto;
    border-radius:18px;
    
  }
  
  .logo{
    display:flex;
    background-color:white;
    border-radius:50%;
    height:80px;
    width:80px;
    justify-content:center;
    align-items:center;
  }
  
  /*  {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
  
  .lst-child{
    margin-left:1rem;
  }
  
  li {
    display: inline;
    font-weight:900;
    font-size:20px;
  }
  
  .link{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:1rem;
  }
  
  .auth-section{
    display:flex;
    align-items:center;
    justify-content:space-between
  }
  
  .border-login{
    padding:10px 20px;
    border-radius:5px;
    background-color:white;
  }
  
  .sign-up{
    margin-left:1.6rem;
     padding:10px 20px;
  }
  
  .sign-up:hover{
    padding:10px 20px;
    transition:0.3s ease;
    margin-left:1.5rem;
    border-radius:5px;
    border:2px  solid white;
    box-shadow: 5px 5px 20px black
    
  }
  
  .favorite-section{
    background-color:#8cddd8;
    border-radius:5px;
    height: 486.5px;
    width:465;
    padding:1rem;
    margin-left:1rem;
  }
  
  .news-section{
    background-color:#f1eaea;
    border-radius:5px;
    padding:1rem;
    box-shadow: rgba(240, 242, 243, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }

.stock-logo{
    display:flex;
    background-color:white;
    border-radius:50%;
    height:80px;
    width:80px;
    justify-content:center;
    align-items:center;
    margin:0.5rem;
}

.head{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 1rem;
    color:white
}

.stock-card{
    background-color:#ceedeb ;
}

.news-card{
  background-color: rgba(133, 244, 246, 0.644);
  border-left: 3px solid rgba(164, 74, 224, 0.916);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.news-card2{
  background-color: rgba(254, 191, 43, 0.644);
  border-left: 3px solid rgba(224, 74, 74, 0.916);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
