
  .favorite-section{
    background-color:#8cddd8;
    border-radius:5px;
    height: 486.5px;
    width:465;
    padding:1rem;
    margin-left:1rem;
  }
  
  .news-section{
    background-color:#f1eaea;
    border-radius:5px;
    padding:1rem;
    box-shadow: rgba(10, 10, 10, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }


.head{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 1rem;
    color:white
}

.stock-card{
    background-color:#ceedeb ;
}

.news-card{
  background-color: rgba(133, 244, 246, 0.644);
  border-left: 3px solid rgba(164, 74, 224, 0.916);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.news-card2{
  background-color: rgba(254, 191, 43, 0.644);
  border-left: 3px solid rgba(224, 74, 74, 0.916);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
