
  .favorite-section{
    background-color:#8cddd8;
    border-radius:5px;
    height: 486.5px;
    width:465;
    padding:1rem;
    margin-left:1rem;
  }
  
  .news-section{
    background-color:#f1eaea;
    border-radius:5px;
    padding:1rem;
    box-shadow: rgba(10, 10, 10, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }


.head{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 1rem;
    color:white
}

.bg-card-ins{
  background-color:#0066cc ;
}

.c-border-6{
  border-left: 0.5em solid #5b9cff;
  border-radius: 5px;
}

.c-border-5{
  border-left: 0.5em solid #d90000;
  border-radius: 5px;
}

.c-border-4{
  border-left: 0.5em solid #020438;
  border-radius: 5px;
}

.c-border-3{
  border-left: 0.5em solid #0029a6;
  border-radius: 5px;
}

.c-border-2{
  border-left: 0.5em solid #feb343;
  border-radius: 5px;
}

.c-border-1{
  border-left: 0.5em solid #00ffff;
  border-radius: 5px;
}

.c-border-7{

  border-left: 0.5em solid #73ffb4;
  border-radius: 5px;
}

.c-border-8{

  border-left: 0.5em solid #f85aca;
  border-radius: 5px;
}

.c-border-9{

  border-left: 0.5em solid #393e46;
  border-radius: 5px;
}

.c-border-10{

  border-left: 0.5em solid #00204a;
  border-radius: 5px;
}
