
.main{
    background-color:#2E0249;
    height:200px;
    display:flex;
    align-content:center;
  }
  
  input{
    border:0px;
    border-bottom:2px solid #570A57;
    margin-bottom:1rem;
    font-size:20pX;
    color:white;
    font-weight:400;
    height:40px;
    width:40%;
    padding:1rem;
    margin-right:1rem;
    display:inline-block;
    background:transparent;
  }
  
  ::placeholder {
    color: #F806CC;
    opacity: 1; /* Firefox */
  }
  
  #email{
    width:100%;
  }
  
  input:active{
    background-color:black
  }
  
  input:focus { 
    color: white; 
    outline: 0 ;
    font-size:20pX;
    font-weight:400;
  }
  
  .submit-button{
  /*   position:relative; */
    border: 2px solid #2E0249;
    background:transparent;
    color:white;
    padding:0.5rem 1rem;
    margin:1rem;
  }
  
  .submit-button:hover{
    position:relative;
    border:2px solid white;
    border-radius:5px;
    background-color:white;
    color:black;
    transition:0.35s ease;
    box-shadow: 0px 2px 10px #ff8aea,
      0px 4px 20px #ff8aea;
   
  }
  .btn-submit{
    display:inline;
  }