@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}



.main{
  justify-items:center;
  background-color:#2E0249;
  height:400px;
  
}

input{
  border:0px;
  border-bottom:2px solid #570A57;
  margin-bottom:1rem;
  font-size:20pX;
  color:white;
  font-weight:400;
  height:40px;
  width:40%;
  padding:1rem;
  margin-right:1rem;
  display:inline-block;
  background:transparent;
}

::placeholder {
  color: #F806CC;
  opacity: 1; /* Firefox */
}

#email{
  width:100%;
}

input:active{
  background-color:black
}

input:focus { 
  color: white; 
  outline: 0 ;
  font-size:20pX;
  font-weight:400;
}

.submit-button{
/*   position:relative; */
  border: 2px solid #2E0249;
  background:transparent;
  color:white;
  padding:0.5rem 1rem;
  margin:1rem;
  
}

.submit-button:hover{
  position:relative;
  border:2px solid white;
  border-radius:5px;
  background-color:white;
  color:black;
  transition:0.35s ease;
  box-shadow: 0px 2px 10px #ff8aea,
    0px 4px 20px #ff8aea;
 
}